.block{
    margin: 5px;
    display: flex;
    label{
        display: block;
        font-size: 24px;
        margin-left: 10px;

        &.label-out{
            width: auto;
        }

        &.label-sign{
        }
    }

    input{
        display: block;
        font-size: 24px; 
        margin-left: 10px;
        border: 1px solid black;

        &.input{
            width: 50px;
        }
        &.input-text{
            width: 150px;
        }
    }


}