.content{
    display: flex;
    flex-wrap: wrap;
    min-width: 480px;
    max-width: 1000px;
    background-color: azure;
    border: 1px solid black;

    .infoIn{
        display: block;
        width: 480px;
    }

    .infoOut{
        display: block;
        width: 400px;
    }


}
